// Базовые функции и миксины из пакета
@use '@sbercloud/figma-variables/build/scss/base/base.module' as base;
// Переменные темы из пакета
@use '@sbercloud/figma-variables/build/scss/thememode/light.module' as light;
// Структуры компонентов используем локальные (т.к. структура в пакете отличается)
@use '@sbercloud/figma-variables/build/scss/components/avatar.module' as avatar;

// $sizes: 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl';
$sizes: 'xs', 's', 'm', 'xl', '3xl', '6xl', '10xl';
$shapes: 'round', 'square';
// $appearances: 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink', 'neutral';

$appearances: (
  'primary': (
    'color': light.$sn-color-primary-text,
    'background-color': light.$sn-color-primary-decor,
  ),
  'red': (
    'color': light.$sn-color-red-text,
    'background-color': light.$sn-color-red-decor,
  ),
  'orange': (
    'color': light.$sn-color-orange-text,
    'background-color': light.$sn-color-orange-decor,
  ),
  'yellow': (
    'color': light.$sn-color-yellow-text,
    'background-color': light.$sn-color-yellow-decor,
  ),
  'green': (
    'color': light.$sn-color-green-text,
    'background-color': light.$sn-color-green-decor,
  ),
  'blue': (
    'color': light.$sn-color-blue-text,
    'background-color': light.$sn-color-blue-decor,
  ),
  'violet': (
    'color': light.$sn-color-violet-text,
    'background-color': light.$sn-color-violet-decor,
  ),
  'pink': (
    'color': light.$sn-color-pink-text,
    'background-color': light.$sn-color-pink-decor,
  ),
  'neutral': (
    'color': light.$sn-color-neutral-text,
    'background-color': light.$sn-color-neutral-decor,
  ),
);

.avatar {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;

  aspect-ratio: 1 / 1;
  border-style: solid;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .abbreviation {
        @include base.composite-var(avatar.$avatar, 'typography', $size);
      }

      // @include base.composite-var(avatar.$avatar, 'anatomy', 'size', $size, 'container');
      @include base.composite-var(avatar.$avatar, 'anatomy', 'size', $size);
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @each $shape in $shapes {
        &[data-shape='#{$shape}'] {
          @include base.composite-var(avatar.$avatar, 'anatomy', 'size', $size, $shape);
        }
      }
    }
  }

  @each $appearance-name, $appearance-value in $appearances {
    &[data-appearance='#{$appearance-name}'] {
      background-color: base.simple-var($appearances, $appearance-name, 'background-color');

      //   color: base.simple-var($appearance-value, 'color');

      color: base.color-on-background-with-opacity(
        base.simple-var($appearance-value, 'color'),
        base.simple-var($appearance-value, 'background-color'),
        avatar.$sn-effect-opacity-text-secondary
      );

      // border-color: base.color-on-background-with-opacity(
      //   light.$sn-color-available-complementary,
      //   base.simple-var($appearance-value, 'background-color'),
      //   avatar.$sn-avatar-effect-opacity-border
      // );
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }
}
