/* Базовые функции и миксины из пакета */
@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

/* Структуры компонентов используем локальные (т.к. структура в пакете отличается) */
@use '@sbercloud/figma-variables/build/scss/components/avatar.module' as avatar;

$sizes: 'xs', 's', 'm', 'l', '3xl', '6xl', '10xl';
$shapes: 'round', 'square';
$shapeMap: (  
  "round": "rounded",
  "square": "squared"
);

$typography: (
  'xs': base.$sn-regular-label-s,
  's': base.$sn-regular-label-s,
  'm': base.$sn-regular-label-m,
  'l': base.$sn-regular-title-m,
  '3xl': base.$sn-regular-headline-m,
  '6xl': base.$sn-regular-display-s,
  '10xl': base.$sn-regular-display-m,
);

$appearances: 'primary', 'neutral', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

.avatar {
  user-select: none;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-style: solid;

  line-height: 1;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .abbreviation {
        @include base.composite-var($typography, $size);
      }

      @include base.composite-var(avatar.$avatar, 'anatomy', 'size', $size);
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @each $shape in $shapes {
        &[data-shape='#{$shape}'] {
          @include base.composite-var(avatar.$avatar, 'anatomy', 'size', $size, base.simple-var($shapeMap, $shape));
        }
      }
    }
  }

  @each $appearance-name in $appearances {
    &[data-appearance='#{$appearance-name}'] {
      border-color: base.$sn-theme-color-material-stateLayer-regular-default-borderColor;
      color: base.$sn-theme-color-available-version-textSecondary;
      text-align: center;
      background-color: base.simple-var(base.$sn-theme, 'color', $appearance-name, 'decor');
    }
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: inherit;

    object-fit: cover;
    object-position: center;
  }
}
