@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/drawer.module' as drawer;

.footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: stretch;

  @include base.composite-var(drawer.$drawer, 'anatomy', 'container', 'footer');
}

.contentWrapper {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
