@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.matrix {
  display: grid;
  gap: base.$sn-primitive-dimension-24;
}

.cell {
  display: grid;
  gap: base.$sn-primitive-dimension-8;
  width: 480px;
}
