@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 10rem;
  padding: 1rem;
  border: base.$sn-primitive-strokeWeight-strokeRegular solid
    base.simple-var(base.$sn-theme, 'color', 'available', 'borderColor');
  border-radius: base.$sn-primitive-dimension-8;

  background-color: base.simple-var(base.$sn-theme, 'color', 'neutral', 'background');
  background-image: repeating-conic-gradient(
    #{base.simple-var(base.$sn-theme, 'color', 'neutral', 'decor')} 0% 25%,
    #{base.simple-var(base.$sn-theme, 'color', 'neutral', 'background')} 0% 50%
  );
  background-size: 14px 14px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: base.simple-var(base.$sn-theme, 'color', 'available', 'version', 'textMain');
}

.body {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: base.simple-var(base.$sn-theme, 'color', 'available', 'version', 'textSecondary');
}
