@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '../../utils/mixins' as m;

.root {
  @include m.tool-root;
}

.stepper {
  @include m.tool-stepper;
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: base.$sn-primitive-dimension-16;
  height: base.$sn-primitive-dimension-16;
}

.connector {
  @include m.tool-connector;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;

  box-sizing: border-box;
  min-width: base.$sn-primitive-dimension-0;
  padding: base.$sn-primitive-dimension-8;
  border: base.$sn-primitive-strokeWeight-strokeRegular solid base.$sn-theme-color-neutral-decorTransparent;
  border-radius: base.$sn-density-radius-s;

  background-color: base.$sn-theme-color-neutral-background2Level;
}

.header {
  @include m.tool-header;
}

.icon {
  flex-shrink: 0;
}

.name {
  @include m.mono-font;
  @include m.tool-name-truncate;
}

.duration {
  @include m.mono-font;

  display: flex;
  flex-shrink: 0;
  gap: base.$sn-primitive-dimension-4;
  align-items: center;

  white-space: nowrap;
}

.durationSegment {
  display: flex;
  gap: base.$sn-primitive-dimension-2;
  align-items: center;
}

.chevron {
  flex-shrink: 0;
}

.root[data-state='loading'] .header {
  color: base.$sn-theme-color-available-version-textMain;

  .icon,
  .chevron {
    color: base.$sn-theme-color-available-version-textMain;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-4;
}
