// Базовые функции и миксины из пакета
@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
// Переменные темы из пакета
@use '@sbercloud/figma-variables/build/scss/thememode/light.module' as light;
// Структуры компонентов используем локальные (т.к. структура в пакете отличается)
@use '@sbercloud/figma-variables/build/scss/components/counter.module' as counter;

@use '@sbercloud/figma-variables/build/scss/adaptivemode/desktop.module' as adaptive;

$sizes: 'xs', 's';
$variants: 'accent', 'decor';
$appearances: 'primary', 'neutral', 'red';

$typography: (
  'xs': 's',
  's': 'm',
);

.counter {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;
  border-style: solid;
  white-space: nowrap;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      // Применяем анатомию (padding, min-width, min-height)
      @include base.composite-var(counter.$counter, 'anatomy', 'size', $size);

      border-radius: base.simple-var(adaptive.$sn-adaptive, 'counters', 'round-corner', $size);
      border-width: base.simple-var(adaptive.$sn-adaptive, 'counters', 'stroke-weigth', $size);

      .text {
        @include base.composite-var(
          base.$base-styles,
          'sn',
          'regular',
          'label',
          base.simple-var($typography, $size)
        );

        @include base.composite-var(counter.$counter, 'anatomy', 'size', $size, 'container');

        border-radius: base.simple-var(adaptive.$sn-adaptive, 'counters', 'round-corner', $size);

        // todo: fix padding
        padding: 0 base.simple-var(adaptive.$sn-adaptive, 'counters', 'spacing-container', $size);

        text-align: center;
      }
    }
  }

  @each $appearance-name in $appearances {
    @each $variant-name in $variants {
      &[data-appearance='#{$appearance-name}'][data-variant='#{$variant-name}'] {
        $color-map: base.simple-var(
          counter.$counter,
          'color',
          'container-#{$variant-name}',
          $appearance-name
        );

        background-color: base.simple-var($color-map, 'background-color');
        border-color: base.simple-var($color-map, 'border-default');

        .text {
          color: base.simple-var($color-map, 'color');
        }
      }
    }
  }
}
