@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/dropdown.module' as dropdown;
@use '@design-system/materials' as m;

.root {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container');

  display: flex;
  flex-direction: column;

  @include m.with-material('acrylic');
}

.defaultTriggerClassName {
  --offset: 12px; // TODO: where to get from? used to be styles-tokens-dropList.$space-drop-list-drop-offset
}

.infoBlock {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container', 'dropdownInfoBlock');
}

.loaderWrapper {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container', 'dropdownInfoBlock');

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

.dropdownContent {
  position: relative;
}