@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/dropdown.module' as dropdown;
@use '@sbercloud/figma-variables/build/scss/components/popover.module' as popover;
@use '@design-system/materials' as m;

.acrylic {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.root {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container');

  position: relative;
  display: flex;
  flex-direction: column;
  // TODO: need check in figma
  box-shadow: base.$sn-boxShadow-elevation-level2;

  @include m.with-material('acrylic', #{acrylic});
}

.defaultTriggerClassName {
  // --offset: 12px; // TODO: where to get from? used to be styles-tokens-dropList.$space-drop-list-drop-offset
  --offset: #{popover.$sn-popover-anatomy-privatePopover-offset};
}

.infoBlock {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container', 'dropdownInfoBlock');
}

.loaderWrapper {
  @include base.composite-var(dropdown.$dropdown, 'anatomy', 'container', 'dropdownInfoBlock');

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

.dropdownContent {
  position: relative;
}
