@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

$variants: 'default', 'outlined';

.root {
  color: base.$sn-theme-color-neutral-text;

  &[data-variant='default'] {
    background: base.$sn-theme-color-neutral-background1Level;
  }

  &[data-variant='outlined'] {
    background: transparent;
    box-shadow: inset 0 0 0 base.$sn-primitive-strokeWeight-strokeMedium currentcolor;
  }
}
