@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  box-sizing: border-box;
  width: 100%;
}

/* 30 × 16px ≈ 480px */
.alertWithActions {
  max-width: calc(30 * #{base.$sn-primitive-dimension-16});
}

/* 105 × 4px = 420px */
.alertTopAppearanceItem {
  max-width: calc(105 * #{base.$sn-primitive-dimension-4});
}

/* 35 × 16px = 560px */
.alertTopWithActions {
  max-width: calc(35 * #{base.$sn-primitive-dimension-16});
}
