@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.container {
  isolation: isolate;

  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  padding: base.$sn-adaptive-spacing-interval-xl;
  background-color: base.$sn-theme-color-neutral-background1-level;
  border-radius: base.$sn-primitive-dimension-8;
  margin-bottom: base.$sn-adaptive-spacing-interval-2xl;
  border: 1px solid base.$sn-theme-color-neutral-decor;
  width: 100%;
  box-sizing: border-box;

  :global(*) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  :global(:not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br)) {
    margin-top: 0 !important;
  }

  :global(:where(.sl-markdown-content *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.containerPaddingSmall {
  padding: base.$sn-adaptive-spacing-interval-xl;
}

.containerPaddingLarge {
  padding: base.$sn-adaptive-spacing-interval-2xl;
}

.containerMarginSmall {
  margin-bottom: base.$sn-adaptive-spacing-interval-xl;
}

.containerMarginLarge {
  margin-bottom: base.$sn-adaptive-spacing-interval-2xl;
}
