@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/segmentControl.module' as segmentControl;

$sizes: 's', 'm', 'l';

.container {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  align-items: stretch;

  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;

  background-color: base.$sn-theme-color-neutral-background;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      padding: base.simple-var(segmentControl.$segmentControl, 'anatomy', 'size', $size, 'container', 'border-width');
      border-radius: base.simple-var(segmentControl.$segmentControl, 'anatomy', 'size', $size, 'container', 'border-radius');
    }
  }

  &[data-outline] {
    border: base.$sn-primitive-strokeWeight-strokeRegular solid base.$sn-theme-color-available-borderColor;
  }

  &[data-width='full'] {
    display: flex;
    width: 100%;
  }
}

.segmentHolder {
  overflow: hidden;
  display: flex;
  flex-shrink: 1;
  justify-content: center;

  min-width: 0;

  &[data-width='full'] {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.selection {
  position: absolute;
  z-index: 0;

  box-sizing: border-box;
  border-radius: inherit;

  background-color: base.$sn-theme-color-neutral-background2Level;

  transition:
    left 0.15s ease-in-out,
    width 0.15s ease-in-out;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      border-radius: base.simple-var(segmentControl.$segmentControl, 'anatomy', 'size', $size, 'segment', 'container', 'border-radius');
    }
  }
}
