@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '@ds/figma-variables/build/scss/components/stepper.module' as stepper;

.stepper {
  display: flex;
  flex-direction: column;
  gap: stepper.$sn-stepper-anatomy-stepRow-gap;
  width: 100%;
}

.steps {
  display: grid;
  gap: stepper.$sn-stepper-anatomy-step-gap;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  overflow: hidden;
  color: base.$sn-theme-color-available-version-textMain;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  color: base.$sn-theme-color-available-version-textTertiary;
}
