@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.toggleGroup {
  display: flex;
  gap: base.$sn-primitive-dimension-8;
  align-items: center;
}

.matrix {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-24;
}