@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.panel {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  gap: base.$sn-adaptive-spacing-interval-l;
  align-items: center;
  flex-wrap: wrap;

  width: calc(100% + 2 * base.$sn-adaptive-spacing-interval-l);
  margin: calc(base.$sn-adaptive-spacing-interval-l * -1);
  margin-bottom: base.$sn-adaptive-spacing-interval-l;
  padding: base.$sn-adaptive-spacing-interval-l base.$sn-adaptive-spacing-interval-xl;

  background-color: color-mix(in srgb, base.$sn-theme-color-neutral-background1-level 20%, transparent);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid base.$sn-theme-color-neutral-decor;
  border-radius: 0 0 base.$sn-adaptive-radius-m base.$sn-adaptive-radius-m;
  box-sizing: border-box;
}
