@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.storyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100px;
  padding: 32px;

  background-color: base.$sn-theme-color-neutral-background1Level;
}

.tablesWrapper {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  padding: 16px 24px;

  background-color: base.$sn-theme-color-neutral-background1Level;
}