@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  position: relative;
  // min-width: calc(100% + base.$sn-primitive-dimension-32);
  // margin: calc(base.$sn-primitive-dimension-16 * -1);
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  padding: base.$sn-primitive-dimension-16;

  background-color: base.$sn-theme-color-neutral-background;
}

.content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  // min-width: calc(100dvw - base.$sn-primitive-dimension-16);
  // margin: calc(0px - base.$sn-primitive-dimension-16);
  // padding: base.$sn-primitive-dimension-16;
  border-radius: base.$sn-primitive-dimension-16;

  color: base.$sn-theme-color-neutral-text;

  background-color: base.$sn-theme-color-neutral-background;
}
