@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: base.$sn-primitive-dimension-120;
}
