@use '@sbercloud/figma-variables/build/scss/components/stepper.module' as base;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: base.$sn-stepper-anatomy-size-m-stepStatus-width;
  height: base.$sn-stepper-anatomy-size-m-stepStatus-height;
  border: base.$sn-stepper-anatomy-size-m-stepStatus-borderWidth solid transparent;
  border-radius: 50%;

  color: base.$sn-theme-color-available-version-textTertiary;

  background-color: base.$sn-theme-color-neutral-background1Level;

  transition:
    background-color 150ms ease,
    color 150ms ease,
    border-color 150ms ease;

  // Waiting — белый фон, еле-заметный бордер, приглушённый номер.
  &[data-state='waiting'] {
    border-color: base.$sn-theme-color-available-borderColor;
    color: base.$sn-theme-color-available-version-textTertiary;
    background-color: base.$sn-theme-color-neutral-background1Level;
  }

  // Current — сплошной тёмно-зелёный фон, светлый номер, без бордера.
  &[data-state='current'] {
    color: base.$sn-theme-color-primary-onAccent;
    background-color: base.$sn-theme-color-primary-accent;
  }

  // Loading — нейтральный серый фон, еле-заметный бордер, серый спиннер («в процессе»).
  &[data-state='loading'] {
    border-color: base.$sn-theme-color-available-borderColor;
    color: base.$sn-theme-color-neutral-text;
    background-color: base.$sn-theme-color-neutral-background;
  }

  // Completed — светло-зелёный фон, тёмно-зелёная галочка.
  &[data-state='completed'] {
    color: base.$sn-theme-color-primary-accent;
    background-color: base.$sn-theme-color-primary-decor;
  }

  // Rejected — сплошной красный фон, светлый крест.
  &[data-state='rejected'] {
    color: base.$sn-theme-color-red-onAccent;
    background-color: base.$sn-theme-color-red-accent;
  }
}
