@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

$content-max-heights: (
  'small': 140px,
  'large': 360px,
);

.root {
  isolation: isolate;
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  padding: base.$sn-primitive-dimension-28 base.$sn-primitive-dimension-0 base.$sn-primitive-dimension-0;
  border: base.$sn-primitive-strokeWeight-strokeThin solid base.$sn-theme-color-neutral-decorTransparent;
  border-radius: base.$sn-density-radius-2xs;

  background-color: base.$sn-theme-color-neutral-background1Level;

  &[data-state='error'] {
    border-color: base.$sn-theme-color-red-text;
  }
}

.header {
  position: absolute;
  z-index: 1;
  top: base.$sn-primitive-dimension-2;
  right: base.$sn-primitive-dimension-2;
  left: base.$sn-primitive-dimension-2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;
  align-items: flex-start;

  padding: base.$sn-primitive-dimension-4 base.$sn-primitive-dimension-8;
}

.scroll {
  @each $height, $max-height in $content-max-heights {
    .root[data-height='#{$height}'] & {
      max-height: $max-height;
    }
  }
}
