@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

$content-max-height: 140px;

.root {
  isolation: isolate;
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  border: base.$sn-primitive-strokeWeight-strokeThin solid base.$sn-theme-color-neutral-decorTransparent;
  border-radius: base.$sn-density-radius-2xs;

  background-color: base.$sn-theme-color-neutral-background1Level;

  &[data-state='error'] {
    border-color: base.$sn-theme-color-red-text;
  }
}

.header {
  position: absolute;
  z-index: 1;
  top: base.$sn-primitive-dimension-2;
  right: base.$sn-primitive-dimension-2;
  left: base.$sn-primitive-dimension-2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;
  align-items: flex-start;

  margin-top: base.$sn-primitive-dimension-32;
  padding: base.$sn-primitive-dimension-0 base.$sn-primitive-dimension-8 base.$sn-primitive-dimension-4;
}

.scroll {
  max-height: $content-max-height;
}
