@use '@cloud-ru/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-32;
}

.iconSection {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-24;
}

.sectionTitle {
  margin: 0;
  font-size: base.$sn-primitive-dimension-16;
  font-weight: 600;
}

.row {
  display: flex;
  flex-direction: row;
  gap: base.$sn-primitive-dimension-24;
  align-items: center;
}
