@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '@ds/figma-variables/build/scss/components/drawer.module' as drawer;

.drawer {
  box-sizing: border-box;
}

.safeAreaTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding-top: base.simple-var(drawer.$drawer, 'anatomy', 'container', 'safeArea', 'padding-top');
}

.safeAreaBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  padding-bottom: base.simple-var(drawer.$drawer, 'anatomy', 'container', 'safeArea', 'padding-bottom');
}

// Desktop-футер: ряд кнопок прижат вправо.
