@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use 'motion' as m;

.nav {
  display: flex;
  flex-direction: column;
  gap: base.$sn-adaptive-spacing-interval-xl;
  padding: base.$sn-adaptive-spacing-interval-l;
}

.logo {
  display: block;
  color: base.$sn-theme-color-neutral-text;
  text-decoration: none;

  @include base.composite-var(base.$sn-regular-label-l);
}

.group {
  display: flex;
  flex-direction: column;
  gap: base.$sn-adaptive-spacing-interval-s;
}

.group-label {
  margin-bottom: base.$sn-adaptive-spacing-interval-s;
  padding:  0;
  color: base.$sn-theme-color-available-version-textMain;
  text-transform: uppercase;

  @include base.composite-var(base.$sn-regular-label-s);
}

.list,
.sub-list {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-2;
  list-style: none;
}

.pkg {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-2;
}

.pkg-details {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-2;
}

.pkg-summary {
  cursor: default;

  display: flex;
  gap: base.$sn-primitive-dimension-4;
  align-items: center;

  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.pkg-summary > .link {
  flex: 1;
  min-width: 0;
}

.pkg-toggle {
  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: base.$sn-primitive-dimension-24;
  height: base.$sn-primitive-dimension-24;
  border-radius: base.$sn-primitive-dimension-4;

  color: base.$sn-theme-color-neutral-text;

  transition: background-color m.$docs-duration-fast;
}

.pkg-summary:hover .pkg-toggle {
  background: base.$sn-theme-color-neutral-decorTransparent;
}

.pkg-toggle-icon {
  transition: transform m.$docs-duration-fast;
}

.pkg-details[open] .pkg-toggle-icon {
  transform: rotate(90deg);
}

.sub-list {
  margin-top: base.$sn-primitive-dimension-2;
  margin-left: base.$sn-primitive-dimension-12;
  padding-left: base.$sn-primitive-dimension-12;
  border-left: 1px solid base.$sn-theme-color-neutral-decor;
}

.link {
  display: block;

  padding: base.$sn-adaptive-spacing-interval-s base.$sn-primitive-dimension-12;
  border-radius: base.$sn-primitive-dimension-4;

  color: base.$sn-theme-color-neutral-text;
  text-decoration: none;

  transition: background-color m.$docs-duration-fast, color m.$docs-duration-fast;

  @include base.composite-var(base.$sn-regular-label-m);
}

.link:hover {
  background: base.$sn-theme-color-neutral-decorTransparent;
}

.link--active {
  color: base.$sn-theme-color-primary-accent;
  background: base.$sn-theme-color-primary-background;
}

.sub-link {
  padding-left: base.$sn-adaptive-spacing-interval-m;
  color: base.$sn-theme-color-neutral-text;
}

.sub-link:hover {
  color: base.$sn-theme-color-primary-accent;
}

.sub-link.link--active {
  color: base.$sn-theme-color-primary-accent;
  background: base.$sn-theme-color-primary-background;
}
