@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  overflow: hidden;

  width: 100%;
  max-width: 100%;
  padding: base.$sn-primitive-dimension-32;

  background-color: base.$sn-theme-color-neutral-background1Level;
}

.hiddenPageCounter {
  position: absolute;
  opacity: 0;
}

.matrixDemo {
  width: 100%;
  max-width: 600px;
}

.matrixSection {
  padding: base.$sn-primitive-dimension-48 0;
  border-bottom: 1px solid base.$sn-theme-color-neutral-decor;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}