@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.tableCell {
  @include base.composite-var(base.$sn-regular-body-m);

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;

  background-color: transparent;
}
