/* Базовые функции и миксины из пакета */
@use '@cloud-ru/figma-variables/build/scss/styles/styles.module' as base;

/* Структуры компонентов (локальные) */
@use '@cloud-ru/figma-variables/build/scss/components/status.module' as status;

$appearances: 'neutral', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

$size: '4xs', '3xs', '2xs', 'xs', 's';

.statusIndicator {
  position: relative;

  display: inline-flex;

  box-sizing: border-box;
  aspect-ratio: 1;
  border-color: base.$sn-theme-color-neutral-background1Level;
  border-style: solid;
  border-radius: 50%;

  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      background-color: base.simple-var(base.$sn-theme, 'color', $appearance, 'accent');
    }
  }

  @each $size in $size {
    &[data-size='#{$size}'] {
      @include base.composite-var(status.$status, 'anatomy', 'statusIndicator', 'size', $size);
    }
  }
}