@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.pageWrapper {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: 160px;
  padding: 0 24px;
  border: 1px solid base.$sn-theme-color-neutral-decor;
  border-radius: base.$sn-primitive-dimension-4;

  background-color: base.$sn-theme-color-neutral-background2Level;
}

.matrixCell {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  min-height: 280px;
  padding: base.$sn-primitive-dimension-24;
}
