@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/drawer.module' as drawer;

// Ветка surface='drawer' (1:1 из `@ds/drawer` Header).
.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;

  @include base.composite-var(drawer.$drawer, 'anatomy', 'container', 'header');
}

.headline {
  display: flex;
  align-items: center;
  align-self: stretch;

  @include base.composite-var(drawer.$drawer, 'anatomy', 'container', 'header', 'headline');

  &:not([data-withbackbutton]) {
    padding-left: 0;
  }
}

.headlineWrapper {
  display: flex;
  flex: 1 0 0;
  align-items: center;

  @include base.composite-var(drawer.$drawer, 'anatomy', 'container', 'header', 'headline', 'headlineWrapper');

  &[data-withbackbutton] {
    padding-left: 0;
  }
}

.subtitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  @include base.composite-var(drawer.$drawer, 'anatomy', 'container', 'header', 'subHeadlineWrapper');
}

.title {
  color: base.$sn-theme-color-available-version-textMain;
}

.subtitle {
  color: base.$sn-theme-color-available-version-textSecondary;
}
