@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.root {
  resize: horizontal;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-16;

  box-sizing: border-box;
  width: 600px;
  max-width: 100%;
  padding: base.$sn-primitive-dimension-12;

  background-color: base.$sn-theme-color-neutral-background2Level;
}
