@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

$roles: 'regular', 'onAccent';
$appearances: 'neutral', 'invertNeutral', 'primary', 'red', 'orange', 'blue', 'violet', 'pink', 'yellow', 'green';

.linkWrapper {
  padding: base.$sn-primitive-dimension-8 base.$sn-primitive-dimension-32;

  &[data-show-background] {
    &[data-role='regular'] {
      background: base.$sn-theme-color-neutral-background;

      &[data-appearance='invertNeutral'] {
        background: base.$sn-theme-color-invertNeutral-background;
      }
    }

    &[data-role='onAccent'] {
      @each $appearance in $appearances {
        &[data-appearance='#{$appearance}'] {
          background: base.simple-var(base.$sn-theme, 'color', $appearance, 'accent');
        }
      }
    }
  }
}

.withResize {
  resize: horizontal;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: base.$sn-primitive-dimension-32;
}

.linkTable {
  display: flex;
  flex-direction: column;
  border: base.$sn-primitive-dimension-1 solid base.$sn-theme-color-neutral-decor;
}

.linkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: base.$sn-primitive-dimension-1 solid base.$sn-theme-color-neutral-decor;
}

.linkCell {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.linkTitleCell, .colHead {
  padding: base.$sn-primitive-dimension-12 base.$sn-primitive-dimension-16;

  font-size: base.$sn-regular-label-m-fontSize;
  font-weight: 600;
  color: base.$sn-theme-color-available-version-textMain;

  background-color: base.$sn-theme-color-neutral-background1Level;
}

.colHead {
  text-align: left;
}

.colValue {
  border-left: base.$sn-primitive-dimension-1 solid base.$sn-theme-color-neutral-decor;
}

