@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.page {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-24;
  max-width: 560px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;
}

.sectionTitle {
  margin: 0;

  @include base.composite-var(base.$sn-regular-title-s);
}

.container {
  min-height: base.$sn-primitive-dimension-100;
  padding: base.$sn-primitive-dimension-16;
  border-radius: base.$sn-primitive-dimension-8;
}

.containerBody {
  position: relative;
  border: base.$sn-primitive-dimension-2 dashed base.$sn-theme-color-neutral-decor;
  background: base.$sn-theme-color-neutral-background1Level;
}

.containerCustom {
  position: relative;
  border: base.$sn-primitive-dimension-2 dashed base.$sn-theme-color-neutral-decor;
  background: base.$sn-theme-color-neutral-background1Level;
}

.description {
  margin: 0;
  color: base.$sn-theme-color-available-version-textSecondary;

  @include base.composite-var(base.$sn-regular-body-s);
}

.portalContent {
  position: absolute;
  right: base.$sn-primitive-dimension-4;
  bottom: base.$sn-primitive-dimension-4;

  margin-top: base.$sn-primitive-dimension-8;
  padding: base.$sn-primitive-dimension-12;
  border-radius: base.$sn-primitive-dimension-8;

  color: base.$sn-theme-color-available-inversion-textMain;

  background: base.$sn-theme-color-invertNeutral-background;
  box-shadow: base.$sn-boxShadow-elevation-level3;
}

.hint {
  margin: 0;
  color: base.$sn-theme-color-available-version-textTertiary;

  @include base.composite-var(base.$sn-regular-body-s);
}
