@use '../styles/tagRowLayout' as layout;

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;

  @include layout.tag-row-flex-with-gap;
}

.visibleRow {
  max-width: 100%;

  @include layout.tag-row-flex-with-gap;
}

.hiddenRow {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  visibility: hidden;

  @include layout.tag-row-flex-with-gap;
}

.hiddenMoreButton {
  position: absolute;
  left: 0;
  visibility: hidden;
}
