// Базовые функции и миксины из пакета
@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
// Переменные темы из пакета
@use '@sbercloud/figma-variables/build/scss/thememode/light.module' as light;
// Структуры компонентов используем локальные (т.к. структура в пакете отличается)
@use '@sbercloud/figma-variables/build/scss/components/status.module' as status;

$statusSizes: 'xs', 's';
$appearances: 'primary', 'neutral', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';
$statusTypography: (
  'xs': 's',
  's': 'm',
);

// Status
.status {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;

  @each $size in $statusSizes {
    &[data-size='#{$size}'] {
      @include base.composite-var(status.$status, 'anatomy', 'size', $size, 'container');

      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @each $size in $statusSizes {
    &[data-size='#{$size}'] {
      .textWrapper {
        @include base.composite-var(status.$status, 'anatomy', 'size', $size, 'text-wrapper');

        display: flex;
        align-items: center;

        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @each $size in $statusSizes {
    &[data-size='#{$size}'] {
      .text {
        @include base.composite-var(
          base.$base-styles,
          'sn',
          'regular',
          'label',
          base.simple-var($statusTypography, $size)
        );
      }
    }
  }

  @each $appearance-name in $appearances {
    &[data-appearance='#{$appearance-name}'] {
      --background-color: #{base.simple-var(light.$sn-color, $appearance-name, 'decor')};

      background-color: var(--background-color);

      // color: base.color-on-background-with-opacity(
      //   light.$sn-color-neutral-text,
      //   var(--background-color),
      //   status.$sn-effect-opacity-text-secondary
      // );

      color: rbg(from light.$sn-color-neutral-text, r g b / 0.5);
    }
  }
}
