@use '@cloud-ru/figma-variables/build/scss/styles/styles.module' as base;

$width: 200px;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: $width;
}

.dropzoneCell {
  width: $width;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}

.filesList {
  @include base.composite-var(base.$sn-regular-body-s);

  color: base.$sn-theme-color-available-version-textSecondary;
}
