@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '../../utils/mixins' as m;

.root {
  @include m.tool-root;
}

.stepper {
  @include m.tool-stepper;
}

.icon {
  flex-shrink: 0;
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: base.$sn-primitive-dimension-16;
  height: base.$sn-primitive-dimension-16;
}

.connector {
  @include m.tool-connector;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;

  box-sizing: border-box;
  min-width: base.$sn-primitive-dimension-0;
  padding: base.$sn-primitive-dimension-8;
}

.header {
  @include m.tool-header;
}

.name {
  @include m.label-font;
  @include m.tool-name-truncate;
}

.root[data-opened] .name {
  overflow-wrap: anywhere;
  white-space: normal;
}

.chevron {
  flex-shrink: 0;
}

.root[data-state='loading'] .header {
  color: base.$sn-theme-color-available-version-textMain;

  .chevron {
    color: base.$sn-theme-color-available-version-textMain;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-8;
}

.description {
  @include m.label-font;

  color: base.$sn-theme-color-available-version-textSecondary;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: base.$sn-primitive-dimension-4;
  align-items: center;
}
