@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.chipChoiceRow {
  display: flex;
  flex-wrap: wrap;
  gap: base.$sn-primitive-dimension-4;
  align-items: center;
}

.addButton {
  margin-left: base.$sn-primitive-dimension-8;
}

.clearButton {
  margin-left: base.$sn-primitive-dimension-8;
  
  .addButton + & {
    margin-left: base.$sn-primitive-dimension-4;
  }
}

.divider {
  &[data-orientation] {
    align-self: stretch;
    height: auto;
  }
}
