@use '@ds/figma-variables/build/scss/components/stepper.module' as base;
@use '@ds/materials' as m;

.step {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: base.$sn-stepper-anatomy-stepRow-gap;
  align-items: flex-start;

  box-sizing: border-box;
  min-width: 0;
}

.track {
  display: flex;
  gap: base.$sn-stepper-anatomy-step-gap;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding-right: base.$sn-stepper-anatomy-step-paddingHorizontal;
  padding-left: base.$sn-stepper-anatomy-step-paddingHorizontal;
}

.statusContainer {
  all: unset;

  cursor: pointer;

  position: relative;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 50%;

  outline: none;

  @include m.has-state-layer-as-child(stateLayer);

  &:disabled {
    cursor: default;
  }

  &:focus-visible {
    outline: base.$sn-primitive-strokeWeight-strokeSemiBold solid base.$sn-theme-color-available-complementary;
    outline-offset: base.$sn-primitive-strokeWeight-strokeSemiBold;
  }
}

.stateLayer {
  border-radius: inherit;
}

.icon {
  pointer-events: none;
}

.tail {
  flex: 1 1 auto;
  min-width: 16px;
  height: base.$sn-stepper-anatomy-size-m-progressWrapper-progressLine-height;

  .tailLine {
    width: 100%;
    height: 100%;
    border-radius: base.$sn-stepper-anatomy-size-m-progressWrapper-progressLine-borderRadius;
    background-color: base.$sn-theme-color-neutral-decor;
  }

  &[data-completed] .tailLine {
    background-color: base.$sn-theme-color-primary-accent;
  }
}

.content {
  display: flex;
  flex-direction: column;

  min-width: 0;
  padding-right: base.$sn-stepper-anatomy-stepRow-contentWrapper-stepText-paddingHorizontal;
  padding-left: base.$sn-stepper-anatomy-stepRow-contentWrapper-stepText-paddingHorizontal;
}

.title {
  overflow: hidden;
  color: base.$sn-theme-color-available-version-textMain;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  color: base.$sn-theme-color-available-version-textTertiary;
}
