@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.section {
  display: flex;
  flex-direction: column;
  gap: base.$sn-adaptive-spacing-interval-m;
}

.title {
  margin: 0;

  font-size: base.$sn-primitive-font-fontSize-14;
  font-weight: 500;
  line-height: 1.2;
  color: base.$sn-theme-color-neutral-text;
}

.table {
  border-collapse: collapse;
  font-size: base.$sn-primitive-font-fontSize-12;
  color: base.$sn-theme-color-neutral-text;
}

.th {
  padding: base.$sn-adaptive-spacing-interval-s base.$sn-adaptive-spacing-interval-m;
  border-bottom: base.$sn-primitive-strokeWeight-strokeRegular solid
    base.$sn-theme-color-material-stateLayer-regular-default-borderColor;

  font-size: base.$sn-primitive-font-fontSize-11;
  font-weight: 600;
  color: base.$sn-theme-color-neutral-text;
  text-align: center;
  text-transform: uppercase;
}

.thFirst {
  text-align: left;
  text-transform: none;
}

.td {
  padding: base.$sn-adaptive-spacing-interval-m;
  border-bottom: base.$sn-primitive-strokeWeight-strokeThin solid
    base.$sn-theme-color-material-stateLayer-regular-default-borderColor;
  vertical-align: middle;
}

.tdLabel {
  font-size: base.$sn-primitive-font-fontSize-12;
  font-weight: 500;
  color: base.$sn-theme-color-neutral-text;
  text-align: left;
  white-space: nowrap;
}

.cellInner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: base.$sn-primitive-dimension-32;
}
