@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '@ds/figma-variables/build/scss/components/carousel.module' as carousel;

.control {
  top: 50%;

  &[data-direction='prev'] {
    position: absolute;
    left: calc(#{base.simple-var(carousel.$carousel, 'anatomy', 'contentWrapper', 'controlWrapper', 'controlBack', 'padding-left')} / 2);
    transform: translateY(-50%) translateX(-50%);
  }

  &[data-direction='next'] {
    position: absolute;
    right: calc(#{base.simple-var(carousel.$carousel, 'anatomy', 'contentWrapper', 'controlWrapper', 'controlForward', 'padding-right')} / 2);
    transform: translateY(-50%) translateX(50%);
  }
}
