@use '@ds/figma-variables/build/scss/styles/styles.module' as base;
@use '@ds/figma-variables/build/scss/components/table.module' as table;

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: base.$sn-primitive-dimension-8 0;
}
