@use '@cloud-ru/figma-variables/build/scss/styles/styles.module' as base;

$sizes: '2xs', 'xs', 's', 'm', 'l';

.spinner {
  pointer-events: none;
  stroke: currentcolor;
  animation: spin 1s ease-in-out infinite;

  & > g > path {
    fill: currentcolor;
  }

  & > mask {
    mask-type: alpha;
  }

  @each $size in $sizes {
    &[data-size="#{$size}"] {
      width: base.simple-var(base.$sn-adaptive, 'size', 'icon', $size);
      height: base.simple-var(base.$sn-adaptive, 'size', 'icon', $size);
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
