@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/toolbar.module' as toolbar;

.bulkTool {
  display: flex;
  gap: toolbar.$sn-toolbar-anatomy-container-tool-bulkAction-gap;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  min-height: base.$sn-primitive-dimension-24;
  padding-left: toolbar.$sn-toolbar-anatomy-container-tool-bulkAction-paddingLeft;
}
