@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.matrix {
  display: grid;
  gap: base.$sn-primitive-dimension-24;
}

.cell {
  width: calc(
    base.$sn-density-size-icon-xs + base.$sn-primitive-dimension-4 + base.$sn-primitive-dimension-8 + 344px
  );
  max-width: 100%;
}
