@use '../../../index' as m;

.acrylic {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.withAcrylic {
  position: relative;

  @include m.with-material('acrylic', #{acrylic});
}