@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '../../../index' as m;

.acrylic {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.withAcrylic {
  position: relative;
  border: base.$sn-primitive-strokeWeight-strokeRegular solid base.$sn-theme-color-neutral-decor;

  @include m.with-material('acrylic', #{acrylic});
}
