@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/field.module' as field;
@use '@design-system/materials' as m;

$sizes: 's', 'm', 'l';
$variants: 'before', 'after';

.chevron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elementWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: base.$sn-theme-color-available-version-textSecondary;
}

.backgroundStateLayer {
  pointer-events: none;

  position: absolute;

  width: 100%;
  height: 100%;

  visibility: initial;
}

.buttonContainer {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  margin: 0;
  padding: 0;
  border: none;

  background: none;

  // Sizes
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include base.composite-var(field.$field, 'anatomy', 'size', $size, 'buttonField', 'container');

      $borderTopLeftRadius: base.simple-var(field.$field, 'anatomy', 'size', $size, 'fieldContainer', 'border-top-left-radius');
      $borderTopRightRadius: base.simple-var(field.$field, 'anatomy', 'size', $size, 'fieldContainer', 'border-top-right-radius');
      $borderBottomRightRadius: base.simple-var(field.$field, 'anatomy', 'size', $size, 'fieldContainer', 'border-bottom-right-radius');
      $borderBottomLeftRadius: base.simple-var(field.$field, 'anatomy', 'size', $size, 'fieldContainer', 'border-bottom-left-radius');


      &[data-variant='before'] {
        border-radius: $borderTopLeftRadius 0 0 $borderBottomLeftRadius;
      }

      &[data-variant='after'] {
        border-radius: 0 $borderTopRightRadius $borderBottomRightRadius 0;
      }

      .elementWrapper {
        @include base.composite-var(field.$field, 'anatomy', 'size', $size, 'buttonField', 'elementWrapper');
      }
    }
  }

  // States management
  &:not([data-loading="true"], [data-disabled="true"]) {
    @include m.has-state-layer-as-child(#{backgroundStateLayer});
  }

  &[data-disabled='true'] {
    .elementWrapper {
      opacity: base.$sn-theme-effect-opacity-disabled;
    }
  }

  &[data-loading="true"],
  &[data-disabled="true"] {
    cursor: not-allowed;

    .backgroundStateLayer {
      visibility: hidden;
    }
  }

  &:not([data-disabled='true'])[data-loading="true"] {
    background: base.$sn-theme-color-material-stateLayer-regular-pressed-background;
  }

  &:focus-visible {
    $outlineWidth: base.$sn-primitive-dimension-1;

    outline: $outlineWidth solid base.$sn-theme-color-primary-accent;
    outline-offset: calc(0px - $outlineWidth);
  }
}