@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.customBody {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-12;
}

.footer {
  display: flex;
  gap: base.$sn-primitive-dimension-8;
  justify-content: flex-end;
  width: 100%;
}
