/* Базовые функции и миксины из пакета */
@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

/* Структуры компонентов (локальные) */
@use '@sbercloud/figma-variables/build/scss/components/progressBar.module' as component;

$sizes: 'xs', 's';
$appearances: 'primary', 'neutral', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

.progressBarContainer {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: base.$sn-theme-color-neutral-decor;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include base.composite-var(component.$progressBar, 'anatomy', 'size', $size, 'line', 'container');
    }
  }
}

.progressBarFiller {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--snack-progress-bar-value);
  height: 100%;

  transition: width var(--snack-progress-bar-animation-duration);

  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      background-color: base.simple-var(base.$sn-theme, 'color', $appearance, 'accent');
    }
  }
}