

.uploadFrame {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.eventLog {
  flex-basis: 100%;

  margin: 0;
  padding: 0;

  font-family: monospace;
  font-size: 12px;
  color: var(--sn-theme-color-available-version-textSecondary);
  list-style: none;
}
