@use '@ds/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: base.$sn-primitive-dimension-16;
}

.filesList {
  font-size: base.$sn-primitive-dimension-12;
  color: base.$sn-theme-color-available-version-textSecondary;
}

.error {
  font-size: base.$sn-primitive-dimension-12;
  color: base.$sn-theme-color-red-text;
}
