@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: base.$sn-adaptive-spacing-interval-m;
  flex-shrink: 0;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  :global(> *) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  :global(:not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br)) {
    margin-top: 0 !important;
  }
}

.itemGapSmall {
  gap: base.$sn-adaptive-spacing-interval-m;
}

.itemGapMedium {
  gap: base.$sn-primitive-dimension-12;
}

.itemGapLarge {
  gap: base.$sn-adaptive-spacing-interval-l;
}

.itemWrapper {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  :global(> *) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  :global(:not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br)) {
    margin-top: 0 !important;
  }
}

.label {
  font-size: base.$sn-regular-label-s-fontSize;
  color: base.$sn-theme-color-available-version-textSecondary;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.labelSmall {
  font-size: base.$sn-regular-label-s-fontSize;
}

.labelMedium {
  font-size: base.$sn-regular-label-m-fontSize;
}

.labelLarge {
  font-size: base.$sn-regular-label-l-fontSize;
}
