@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.wrapper {
  padding: base.$sn-adaptive-spacing-interval-l;
  background-color: base.$sn-theme-color-neutral-background;
  box-sizing: border-box;
  margin: calc(base.$sn-primitive-dimension-16 * -1);
  width: calc(100% + base.$sn-primitive-dimension-32);
}

.content {
  background-color: base.$sn-theme-color-neutral-background;
  padding: base.$sn-adaptive-spacing-interval-l;
  color: base.$sn-theme-color-neutral-text;
}
