@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/tooltip.module' as tooltip;

.button {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: base.simple-var(base.$sn-density, 'size', 'icon', 'xs');
  height: base.simple-var(base.$sn-density, 'size', 'icon', 'xs');
  margin: 0;
  padding: 0;
  border: none;

  font: inherit;
  color: base.$sn-theme-color-available-version-textTertiary;

  background: transparent;

  &:focus-visible {
    outline: base.$sn-primitive-strokeWeight-strokeSemiBold solid base.$sn-theme-color-available-complementary;
  }

  &:active {
    color: base.$sn-theme-color-available-version-textMain;
  }

  @media (hover: hover) {
    &:hover {
      color: base.$sn-theme-color-available-version-textSecondary;
    }
  }
}

.tooltip {
  @include base.composite-var(tooltip.$tooltip, 'anatomy', 'container');
  @include base.composite-var(base.$base-styles, 'sn', 'regular', 'body', 's');

  pointer-events: none;

  position: fixed;

  // Поверх sticky-хедера ($docs-z-header: 50).
  z-index: 100;

  max-width: 280px;

  color: base.$sn-theme-color-available-inversion-textMain;
  overflow-wrap: break-word;

  background: base.$sn-theme-color-invertNeutral-background;
}
