@use '@cloud-ru/figma-variables/build/scss/styles/styles.module' as base;
@use '@cloud-ru/figma-variables/build/scss/components/pagination.module' as pagination;

$sizes: 's', 'm';

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include base.composite-var(pagination.$pagination, 'anatomy', 'size', $size, 'paginationNumber');
    }
  }

  > li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
