@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '@sbercloud/figma-variables/build/scss/components/markdown.module' as md;
@use '@sbercloud/figma-variables/build/scss/components/divider.module' as divider;

// Padding всей строки живёт на Toolbar-обёртке,
// чтобы покрывать и More-кнопку, которая рендерится рядом с этой группой.
.root {
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  gap: md.$sn-markdown-anatomy-size-buttons-gap;

  box-sizing: border-box;
}

.group {
  display: flex;
  gap: base.$sn-primitive-dimension-4;
  align-items: center;
}

.divider {
  &[data-orientation='vertical'] {
    height: auto;
  }
}
