@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;
@use '../utils/mixins' as m;

/**
  * Переменные ниже не используются в коде, только для референса:
  * $states – то, какие виды состояний бывают с точки зрения пропа компонента.
  * $internalStates – то, как называются группы переменных этих состояний в Figma Variables.
  */
$states:
  'regularFilled', 'regularBorder', 'activatedFilled', 'onColorFilled', 'onAccentFilled', 'textOpacity';
$internalStates: 'regular', 'activated', 'onColor', 'onAccent', 'textOpacity';

/**
  * State layer: default / hover / active для фона и бордера слоя.
  *
  * Миксин необходимо применить в класе корневого элемента, при взаимодействии с которым
  * будут применяться стили к его ребёнку $stateLayerSelector.
  * Итерация невозможна по причине ручного маппинга названий свойств пропа и структуры в Figma Variables.
  * См. пример в Playground.stories.tsx и stories/components/SampleBlock
  */
@mixin has-state-layer-as-child($stateLayerSelector) {
  .#{$stateLayerSelector} {
    @include m.absolute-layer();

    // определяем общие стили для бордера
    &[data-state='regularBorder'] {
      border-style: solid;
      border-width: base.$sn-primitive-strokeWeight-strokeRegular;
    }

    &[data-state='regularFilled'] {
      background: base.$sn-theme-color-material-stateLayer-regular-default-filled;
    }

    &[data-state='regularBorder'] {
      border-color: base.$sn-theme-color-material-stateLayer-regular-default-borderColor;
    }

    &[data-state='activatedFilled'] {
      background: base.$sn-theme-color-material-stateLayer-activated-default-filled;
    }

    &[data-state='onColorFilled'] {
      background: base.$sn-theme-color-material-stateLayer-onColor-default-filled;
    }

    &[data-state='onAccentFilled'] {
      background: base.$sn-theme-color-material-stateLayer-onAccent-default-filled;
    }
  }

  @media (hover: hover) {
    &:hover:not([data-disabled], [data-loading]) {
      .#{$stateLayerSelector} {
        &[data-state='regularFilled'] {
          background: base.$sn-theme-color-material-stateLayer-regular-hovered-filled;
        }

        &[data-state='regularBorder'] {
          border-color: base.$sn-theme-color-material-stateLayer-regular-hovered-borderColor;
        }

        &[data-state='activatedFilled'] {
          background: base.$sn-theme-color-material-stateLayer-activated-hovered-filled;
        }

        &[data-state='onColorFilled'] {
          background: base.$sn-theme-color-material-stateLayer-onColor-hovered-filled;
        }

        &[data-state='onAccentFilled'] {
          background: base.$sn-theme-color-material-stateLayer-onAccent-hovered-filled;
        }
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  &[data-loading],
  &:active:not([data-disabled], [data-loading]),
  &[data-pressed='true']:not([data-disabled], [data-loading]) {
    .#{$stateLayerSelector} {
      &[data-state='regularFilled'] {
        background: base.$sn-theme-color-material-stateLayer-regular-pressed-filled;
      }

      &[data-state='regularBorder'] {
        border-color: base.$sn-theme-color-material-stateLayer-regular-pressed-borderColor;
      }

      &[data-state='activatedFilled'] {
        background: base.$sn-theme-color-material-stateLayer-activated-pressed-filled;
      }

      &[data-state='onColorFilled'] {
        background: base.$sn-theme-color-material-stateLayer-onColor-pressed-filled;
      }

      &[data-state='onAccentFilled'] {
        background: base.$sn-theme-color-material-stateLayer-onAccent-pressed-filled;
      }
    }
  }
}

/**
  * Миксин необходимо применить в класе корневого элемента, при взаимодействии с которым
  * будут применяться стили к его ребёнку $contentLayerSelector.
  * Влияние будет оказываться на элементы с атрибутом [data-text-opacity] у детей класса $contentLayerSelector.
  * См. пример в Playground.stories.tsx
  */
@mixin has-content-with-text-opacity($contentLayerSelector) {
  .#{$contentLayerSelector} {
    [data-text-opacity] {
      opacity: base.$sn-theme-color-material-stateLayer-text-default-opacity;
    }
  }

  @media (hover: hover) {
    &:hover:not([data-disabled], [data-loading]) {
      .#{$contentLayerSelector} {
        [data-text-opacity] {
          opacity: base.$sn-theme-color-material-stateLayer-text-hovered-opacity;
        }
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  &[data-loading],
  &:active:not([data-disabled], [data-loading]),
  &[data-pressed='true']:not([data-disabled], [data-loading]) {
    .#{$contentLayerSelector} {
      [data-text-opacity] {
        opacity: base.$sn-theme-color-material-stateLayer-text-pressed-opacity;
      }
    }
  }
}
