@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.grid {
  display: grid;
  gap: base.$sn-adaptive-spacing-interval-xl;
  align-items: start;
  justify-items: center;
  width: 100%;

  margin-top: 0 !important;
  margin-bottom: 0 !important;

  :global(> *) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  :global(:not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br)) {
    margin-top: 0 !important;
  }

  :global(:where(.sl-markdown-content *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.gridAutoFit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.gridGapSmall {
  gap: base.$sn-adaptive-spacing-interval-l;
}

.gridGapMedium {
  gap: base.$sn-adaptive-spacing-interval-xl;
}

.gridGapLarge {
  gap: base.$sn-adaptive-spacing-interval-2xl;
}
