@use '@sbercloud/figma-variables/build/scss/components/button.module' as button;

.choiceChipFooter {
  display: flex;
  gap: button.$sn-button-anatomy-buttonGroup-container-gap;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

.choiceChipMobileFooter {
  display: flex;
  flex-direction: column;
  gap: button.$sn-button-anatomy-buttonGroup-container-gap;
  box-sizing: border-box;
}

.choiceChipFooterGroup {
  display: flex;
  gap: button.$sn-button-anatomy-buttonGroup-container-gap;
  align-items: center;
  justify-content: space-between;
}

.choiceChipFooterCount {
  white-space: nowrap;
}
