@use '@sbercloud/figma-variables/build/scss/styles/styles.module' as base;

.row {
  display: flex;
  flex-wrap: wrap;
  gap: base.$sn-primitive-dimension-20;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  :global(> *) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  :global(:not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br)) {
    margin-top: 0 !important;
  }

  :global(:where(.sl-markdown-content *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.rowGapSmall {
  gap: base.$sn-adaptive-spacing-interval-l;
}

.rowGapMedium {
  gap: base.$sn-primitive-dimension-20;
}

.rowGapLarge {
  gap: base.$sn-adaptive-spacing-interval-xl;
}

.rowGapXLarge {
  gap: base.$sn-adaptive-spacing-interval-2xl;
}

.rowJustifyCenter {
  justify-content: center;
}

.rowJustifyStart {
  justify-content: flex-start;
}

.rowJustifyEnd {
  justify-content: flex-end;
}

.rowAlignStart {
  align-items: flex-start;
}

.rowAlignCenter {
  align-items: center;
}

.rowAlignEnd {
  align-items: flex-end;
}
